<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header :: myheader"></head>
<div class="fixed-top">
    <nav class="navmenu smart-scroll">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/index" class="label ml-5">Книжный Магазин</a>
            <div class="links d-flex justify-content-between">
              <a href="/books" class=link>Книги</a>
              <a href="/authors" class=link>Авторы</a>
              <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/login}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm mr-3" type="submit">Logout</button>
                <button sec:authorize="isAnonymous()" th:href="@{/login/}" class="btn btn-outline-info my-2 my-sm-0 btn-sm mr-3" type="submit">Login</button>
              </form>
            </div>
        </div>
    </nav>  
  </div>
  <div class="start_picture"><img src="img/start_pic.jpg"></div>

<div th:replace="scripts :: myscripts"></div>
</html>
