<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header :: myheader"></head>
<div class="fixed-top">
    <nav class="navmenu smart-scroll">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/index" class="label ml-5">Книжный Магазин</a>
            <div class="links d-flex justify-content-between">
              <a href="/books" class=link>Книги</a>
              <a href="/authors" class=link>Авторы</a>
            </div>
        </div>
    </nav>  
  </div>
  <div class="start_picture"><img src="img/start_pic.jpg"></div>

<div th:replace="scripts :: myscripts"></div>
</html>
